

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;

    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }

    @media(min-width:769px){
      form input {
        background-color: #F5F5F5;
        padding: 5px;
        width: 100%;
        margin: 5px 0px;
        border: 0px;
        border-radius: 50px;
    } 
    }
    /* .swiper-slide:nth-child(2n) {
      width: 60%;
    }

    .swiper-slide:nth-child(3n) {
      width: 40%;
    } */